{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}My Meetups!{% endblock %}

{% block siteCss %}
  <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

<!-- Header -->
{% block headerTitle %}We've got great events coming up!{% endblock %}

{% block headerContent %}
  <p>Find the one that interests you the most!</p>
{% endblock %}

<!-- Main -->
{% block body %}
  <section>
    <h2>Upcoming Meetups</h2>
    <ol>
      {% for meetup in meetups %}
        {% include 'meetups/includes/meetup-item.html' with title=meetup.title location='Brasília - DF' slug=meetup.slug image=meetup.image.url %}
      {% endfor %}
    </ol>
  </section>
{% endblock %}