{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meetupTitle }}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
</head>
<body>
    <main>
        <article>
            <img src="" alt="">

            <section id="location">
                <h2>Meetup Location</h2>
                <address>This meetup will take place in <span>LOCATION</span> (ADDRESS).</address>
            </section>

            <section id="details">
                <h2>What's This Meetup About?</h2>
                <p>{{ meetupDescription }}</p>
                <footer>
                    <p>Need more deteails? Please <a href="mailto:organizer-email-here@gmail.com">contact the event organizer</a> (but don't spam us, ok? 😉)</p>
                </footer>
            </section>

            <section id="registration">
                <h2>Join us!</h2>
                <form action="">
                    FORM HERE
                </form>
            </section>
        </article>
    </main>
</body>
</html>